@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #faffff;
    font-family: 'Poppins', sans-serif;
}
.sphere-primary {
    color: #445760;
}
.sphere-primary-bg {
    background-color: #445760;
}
.sphere-secondary {
    color: #ECF8F9;
}
.sphere-secondary-bg {
    background-color: #ECF8F9;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.font-playfair {
    font-family: 'Playfair Display', serif;
}
.file-input-primary::file-selector-button {
    border-color: #445760 !important;
    background-color: #445760;
    color: white;
}
.testimonial-text-arrow::after {
    content: "";
    position:absolute;
    top: 86%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: #e2e8f0;
    width: 25px;
    height: 25px;
}