/* ul.menu  *:hover {
    background-color: initial !important;
}
ul.menu  *:active {
    background-color: initial !important;
}
ul.menu  *:focus {
    background-color: initial !important;
    color: white;
} */
/* .table tr {
    border-bottom: 0;
}
.table tbody tr:nth-child(odd) {
    background-color: white;
}
.table tbody tr:nth-child(even) {
  background-color:#e7eef0;
} */