.sphereDashboard ul.menu  *:hover {
    background-color: initial !important;
}
.sphereDashboard ul.menu  *:active {
    background-color: initial !important;
}
.sphereDashboard ul.menu  *:focus {
    background-color: initial !important;
    color: white;
}
.sphereDashboard .table tr {
    border-bottom: 0;
}
.sphereDashboard .table tbody tr:nth-child(odd) {
    background-color: white;
}
.sphereDashboard .table tbody tr:nth-child(even) {
  background-color:#e7eef0;
}

.sphereDashboard .active {
    color: #ECF8F9;
    background-color: transparent;
}